<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tbody>
                <tr>
                    <td>Title</td>
                    <td>Date</td>
                    <td>Entry</td>
                    <td>Image</td>
                </tr>
                <tr data-th-each="${entries}">
                    <td data-th-text=""></td>
                    <td>Date</td>
                    <td>Entry</td>
                    <td>Image</td>
                </tr>
            </tbody>
        </thead>
    </table>
</body>
</html>